h1 {
    color:blue;
}

h2 {
    color: grey;
}

.p1, .p2 {
    font-family: "Arial Black";
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50%;
    width: 50%;
}

table {
    margin: 0 auto;
    text-align: center;
    border-collapse: collapse;
}

td, th {
    border: 1px;
}

aside {
    width: 300px;
    background-color: grey;
    float: right;
}