table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
td {
    text-align: center;
    padding: 5px;
    background-color: aliceblue;
}
th {
    text-align: left;
    background-color: beige;
}